extends _layout


block content
  header
    .container
      h1= about.title
      p= about.subtitle

  section(role="main")
    .container
      h2= about.headline


  footer
    .container
      h6 this is the footer
      p All information copyright &copy; 2016 | RNR, LLC
