extends _layout


block content
  header
    .container
      h1= home.title
      p= home.subtitle

  section(role="main")
    .container
      h2= home.headline
      p You can create content in the <code>views/data/data.js</code> file or in the pug template files.
      p The data.js files is a simple data store. You can develop this further with a database. This is just to get a site up and running quickly and having some tools available for a production-ready deplyoment. 
      
  footer
    .container
      h6 this is the footer
      p All information copyright &copy; 2016 | RNR, LLC

