extends _layout


block content
  header
    .container
      h1= home.title
      p= home.subtitle

  section(role="main")
    .container
      h2 main about section
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non natus reprehenderit minima! Voluptatum architecto temporibus eius placeat quos ipsa consequuntur ullam veniam dolorem, ea nam, natus, nesciunt accusamus repellendus a.
      
  footer
    .container
      h6 this is the footer
      p All information copyright &copy; 2016 | RNR, LLC

